@{
    ViewData["Title"] = "Home Page";
}

<style>
    .banner-img {
        text-align: center;
        }
</style>
    <div class="main-body">
        <div id="app-banner">
            <div class="row">
                <div class="col-sm-5 banner-img">
                    <img id="banner-img" src="img/2.jpg" />
                </div>
                <div class="col-sm-7 banner-msg">
                    Love All Serve All
                    <div class="victory">
                        Jai Bolo Bhagwan Sri Sathya Sai Baba Ji Ki Jai
                    </div>
                    <div style="text-align:center;"> <img  src="img/1.png" /></div>
                   
                </div>
            </div>
        </div>
        <div id="main-body-content">
            <div class="row">
                <div class="col-sm-3 box-icon">
                    <a href="~/home/teachings"><div class="box-icon-child teach">Teachings</div></a>
                </div>
                <div class="col-sm-3 box-icon">
                    <a href="~/home/service"><div class="box-icon-child seva">Seva</div></a>
                </div>
                <div class="col-sm-3 box-icon">
                    <a href="~/home/ceiling"><div class="box-icon-child cod">COD</div></a>
                </div>
                <div class="col-sm-3 box-icon">
                    <a href="~/home/gogreen"><div class="box-icon-child green">Go Green</div></a>
                </div>
            </div>
            <div class="prayer">
                <div class="front-page-info-box">
                    <p><span style="color: #006400; font-size: 20px; font-family: merriweather;"><br> There is only one
                            caste, the caste of humanity<br> There is only one religion, the religion of love<br> There is
                            only one language, the language of the heart<br> There is only one God, He is Omnipresent!</span></p>
                    <div style="text-align: right;"><span style="color: #006400; font-size: 20px; font-family: merriweather;"><em>-
                                Bhagawan Sri Sathya Sai Baba&nbsp;</em></span></div>
                </div>
            </div>
            <div class="prayer" style="margin-top:-15px;">
                <div class="front-page-info-box">
                    <div style="text-align: left;"><span style="color: #006400; font-size: 20px; font-family: merriweather;"><em>
                                Gayathri Mantra - </em></span></div>
                    <p><span style="color: #006400; font-size: 20px; font-family: merriweather;"><br>
                            Om Bhur Bhuvaḥ Swaḥ<br>
                            Tat-savitur Vareñyaṃ<br>
                            Bhargo Devasya Dhīmahi<br>
                            Dhiyo Yonaḥ Prachodayāt</span></p>
                </div>
            </div>
        </div>
    </div>